
<div class="card beer-card" style="width: 18rem;">
  <img style = "width: 10%" src={{this.image_url}} alt="" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <span>{{this.tagline}}</span>
    <p class="card-text">{{this.description}}</p>
    
  </div>
</div>`