<div class="container  text-center">
  <img class = "main-img"src="/images/beer.png" alt="beer-img">
  
  <a class = "btn btn-primary" href="/beers">Check the Beers!</a>
  <a class = "btn btn-primary" href="/random-beers">Check Random Beers!</a>
</div>
